*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
 }
 
 ::-webkit-scrollbar-track {
   /* width: 3px;
   border-radius: 0;
   background: #ebe7e7; */
   display: none;
 }
 
 ::-webkit-scrollbar-thumb {
   /* border-radius: 0;
   background: #4f4f4f;
   width: 2px; */
   display: none;
 }

.container{
  width: 100%;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  padding: 10px 20px;
  position: fixed;
  z-index: 7;
}
.navbar{
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1 a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: white;
}
input[type='search']{
  padding: 8px 0 8px 10px;
  text-align: left;
  border: none;
  outline: none;
  width: 15rem;
  border-radius: 10px;
}
.search-container{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
}
.search-btn{
  padding: 0 5px 0 5px;
  font-size: 20px;
  border: none;
  background-color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.search-results{
  width: 100%;
  height: 100vh;
  padding-top: 4.2rem;
  background-color: #c2b6b6;
  background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
}
.search-result-section {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; 
  overflow-y: scroll;
  padding: 10px;
  
}
.load-more{
  /* background-color: #2b4162; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-more button {
  padding: 10px;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #1b2845 74%);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.5s, background-image 0.5s; 
}

.load-more button:hover {
  background-color: #1d2951;
  background-image: linear-gradient(315deg, #1d2951 0%, #dbe7fc 74%);
}

.home-container{
  width: 100%;
  height: 100vh;
  padding-top: 4.2rem;
}
.home-section{
  width: 100%;
  height: 100vh;
  background-color: #12100e;
  display: flex;
}
.genres{
  width: 20%;
  height: 100%;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  overflow-y:scroll ;
  
  
}
.content{
  width: 80%;
  height: auto;
  background-color: #c2b6b6;
  background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
  border-radius: 20px 0 0 0;
  overflow-y: scroll;
}
.genres-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0 10px 20px;
  gap: 10px;
  
}
.genres-section h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 255);
}
.g-names{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: rgb(171, 171, 171);
  padding: 5px;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
  text-decoration: none;
}
.g-names:hover{
  color: rgb(255, 255, 255);
  
}
.movie-content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
.movie-content-head{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  padding: 20px 0;
}
.movies-section {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; 
 
  padding: 15px;
}

.movie-container {
  background-color: black;
  border-radius: 20px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.movie-card {
  display: flex;
  flex-direction: column;
  height: 100%; 
  border-radius: 20px;
}

.movie-img {
  flex: 1;
  border-radius: 20px 20px 0 0;
}

.movie-img img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.movie-details {
   padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.m-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  margin: 0 10px;
}

.detail-page-content{
  width: 80%;
  height: 100vh;
  background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  border-radius: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.containt-details-container{
  width: 100%;
  height: 100%;
  background-color: #dbe7fc;
}
.containt-details{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #c2b6b6;
}
.back-cover{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #1d2951;
}
.back-cover img{
  width: 100%;
  height: 100%;
  /* border-radius: 20px; */
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: pixelated; /* Modern browsers */
  background-size: contain;
}
.backdrop-cover{
  position: absolute;
  top: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(to right, rgba(10, 0, 0, 0.772) 0%, rgba(10, 0, 0, 0.749) 50%, rgb(10, 0, 0) 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px 0 0 0;
  gap: 30px;
  padding: 10px 20px 0 30px;
}
.thubnail{
  width: 35%;
  height: 90%;
  border-radius: 20px;
}
.thubnail img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.details-movie{
  width: 65%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.details-movie h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
}
.a-details{
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}
.genre{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}
.dis-details{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}
.cust-details{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.c-lable{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 18px;
}
.c-value{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}
.directing-crew{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.crew-label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 18px;
}
.crew-names{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 18px;
}
.nowplay-slider{
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 20px;
}
.carousel-wrapper {
  width: 100%;
  position: relative;
  z-index: 0;
  
}
.carousel-item {
  width: 100%;
  height: 80vh; 
  background: #0f0024;
  border-radius: 20px;
  position: relative;
  
}
.carousel-item img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: pixelated; /* Modern browsers */
  background-size: contain;
}
.overlay-text {
  position: absolute;
  top: 0px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(to right, rgb(10, 0, 0) 0%, rgba(10, 0, 0, 0.452) 50%, rgba(10, 0, 0, 0) 100%); /* Gradient background */
  padding-left: 60px;
  display: flex;
  align-items: center;
}

.np-detail{
  width: 50%;
  height: 80%;
  /* background-color: #dbe7fc; */
  text-wrap: wrap;
  overflow: hidden;
}
.overlay-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.overlay-text p {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.overlay-text h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
}
.overlay-text p span{
  background-color: rgb(50, 50, 50);
  margin-left: 10px;
}

.top-rated{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  /* align-items: center; */
  padding: 20px;
  gap: 10px;
}
.top-rated h1{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-carousel-item {
  width: 100%;
  height: 70vh; 
  background-color: #000000;
  border-radius: 20px;
  position: relative;
  color: white;
  
}
.card-carousel-item img{
  width: 100%;
  height: 85%;
  border-radius: 20px 20px 0 0;
  image-rendering: -webkit-optimize-contrast; /* Safari */
  image-rendering: pixelated; /* Modern browsers */
  background-size: contain;
}
.card-carousel-details{
  padding:5px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-carousel-details h3{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-carousel-details p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ret-year{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.similar-content{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.similar-content h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}